---
// export const prerender = true
import Layout from '../layouts/Layout.astro'
import pb from '../utils/initPocketbase'

const records = await pb.collection('test').getFullList({
  sort: '-created',
})

console.log(records)
---

<Layout title="Home">
  <h1>Index</h1>
  <a href="/somepage">some page</a>
</Layout>
